    <h3>Create New Product</h3>
    <mat-divider></mat-divider>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Contact">Contact</mat-tab>
        <mat-tab label="Category">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Brand*</label><br>
                                    <mat-form-field>
                                        <mat-select matNativeControl formControlName="brand" matInput name="brand">
                                            <mat-option *ngFor="let brand of brands" [value]="brand">
                                                {{brand}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="productForm.controls['brand'].hasError('required')">
                                            Select Brand
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <label>Model*</label><br>
                                    <mat-form-field>
                                        <mat-select matNativeControl formControlName="model" matInput name="model">
                                            <mat-option *ngFor="let model of models" [value]="model">
                                                {{model}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="productForm.controls['model'].hasError('required')">
                                            Select Model
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Part Number</label><br>
                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="partNumber" placeholder="Part Number">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label>Short Description</label><br>
                                    <mat-form-field appearance="fill">
                                     <textarea matInput #description maxlength="300" formControlName="description" placeholder="Brief description of the product"></textarea>
                                      <mat-hint align="end">{{description.value.length}} / 300</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Keywords</label><br>
                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="keywords" placeholder="keywords">
                                      </mat-form-field>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row" *ngIf="!marginCal">
                                <div class="col-md-4">
                                    <label>Unit Price</label><br>
                                    <mat-form-field appearance="fill">
                                        <input type="number" matInput formControlName="unitPrice" placeholder="$ 0.00" [(ngModel)]="unitPrice" (keyup)="calculateMargin()">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label>Unit Cost</label><br>
                                    <mat-form-field appearance="fill">
                                        <input type="number" matInput formControlName="unitCost" placeholder="$ 0.00" [(ngModel)]="unitCost" (keyup)="calculateMargin()">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label>Margin</label><br>
                                    <mat-form-field appearance="fill">
                                        <input type="number" matInput align="end" formControlName="margin" placeholder="0%" [(ngModel)]="marginPercentage">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="marginCal">
                                <div class="col-md-4">
                                    <label>Unit Price</label><br>
                                    <mat-form-field appearance="fill">
                                        <input type="number" matInput formControlName="unitPrice" placeholder="$ 0.00" [(ngModel)]="unitPrice">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label>Unit Cost</label><br>
                                    <mat-form-field appearance="fill">
                                        <input type="number" matInput formControlName="unitCost" placeholder="$ 0.00" [(ngModel)]="unitCost">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label>Margin</label><br>
                                    <mat-form-field appearance="fill">
                                        <input type="number" matInput align="end" formControlName="margin" placeholder="0%" [(ngModel)]="marginPercentage" (keyup)="calculateUnitPrice()">
                                      </mat-form-field>
                                </div>
                            </div>
                            <div mat-dialog-actions>
                            <button mat-raised-button mat-dialog-close color="primary" [disabled]="productForm.invalid">Save</button>
                            <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    