.register {
    float: none;
    margin: 0 auto;
    max-width: 50%;
    position: relative;
    top: 5%;
}
mat-form-field{
    width: 100%;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    justify-content: center !important;
}