<div class="login">
    <div class="alert alert-danger my-3" *ngIf="error">
        {{error}}
    </div>
    <mat-card>
<mat-toolbar color="primary">
    Login Form
  </mat-toolbar>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="email">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email').errors?.['required'] && loginForm.get('email').touched">Please enter a valid email</mat-error>
        </mat-form-field>
        </div>
        <div class="password">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password').errors?.['required'] && loginForm.get('password').touched">Please enter your password</mat-error>
          <mat-error *ngIf="loginForm.get('password').errors?.['minlength']">Please enter your minimum 4 character</mat-error>
        </mat-form-field>
        </div>
        <div class="subBtn">
        <button mat-raised-button color="primary" class="loginBtn" [disabled]="loginForm.invalid">Login</button>
        <button mat-raised-button color="primary" class="signupBtn" [disabled]="loginForm.invalid" (click)="signup()">SignUp</button>
        </div>  
    </form>
    
    </mat-card>
</div>
    