.login {
    float: none;
    margin: 0 auto;
    max-width: 30%;
    position: relative;
    top: 25%;
}
mat-form-field{
    width: 100%;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    justify-content: center !important;
}
.email {
    padding-top: 14px;
}
.loginBtn{
    float: left;
    margin-top: 10px;
}
.signupBtn{
    float: right;
    margin-top: 10px;
}
mat-card{
    height: 260px;
}
.signUpLink{
    float: right;
}