<mat-toolbar color="primary">
	<!-- <mat-nav-list class="list-horizontal">
        <mat-list-item>
            <img class="logo" src="assets/images/logo.png">
          </mat-list-item>
      
     <mat-list-item>
      <button mat-raised-button color="primary" mat-menu-item (click)="home()">Home</button>
    </mat-list-item>
     <mat-list-item>
      <button mat-raised-button color="primary" mat-menu-item (click)="register()">Registration</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button color="primary" mat-menu-item (click)="userList()">User List</button>
      </mat-list-item>
     <mat-list-item class="currentUser">
       Welcome {{currentUser}}
      </mat-list-item>
      <mat-list-item>
        <button class="logout" mat-raised-button color="primary" mat-menu-item (click)="logout()">Logout</button>
      </mat-list-item>
    </mat-nav-list> -->
    <div class="row menuBar">
      <div class="col-md-2">
        <img class="logo" src="assets/images/logo.png">
      </div>
      <div class="col-md-1">
        <button mat-raised-button color="primary" mat-menu-item (click)="home()">Home</button>
      </div>
      <div class="col-md-2 registration">
        <button mat-raised-button color="primary" mat-menu-item (click)="register()">Registration</button>
      </div>
    <div class="col-md-1">
    <button mat-raised-button color="primary" mat-menu-item (click)="userList()">User List</button>
      </div>
      <div class="col-md-5 currentUser">
        <span>Welcome {{currentUser}}</span>
      </div>
      <div class="col-md-1 logout">
        <button mat-raised-button color="primary" mat-menu-item (click)="logout()">Logout</button>
      </div>
    </div>
    

    
    
</mat-toolbar>
