<div class="login">
    <div class="alert alert-danger my-3" *ngIf="showAlert">
        {{successMessage}}
    </div>
    <div class="alert alert-danger my-3" *ngIf="error">
        {{error}}
    </div>
    <mat-card>
<mat-toolbar color="primary">
    Sign up
  </mat-toolbar>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
        <div class="email">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error
          *ngIf="signUpForm.controls['email'].hasError('pattern') && !signUpForm.controls['email'].hasError('required')">
          Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
          Email is required
      </mat-error>
        </mat-form-field>
        </div>
        <div class="password">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="signUpForm.get('password').errors?.['required'] && signUpForm.get('password').touched">Please enter your password</mat-error>
          <mat-error *ngIf="signUpForm.get('password').errors?.['minlength']">Please enter your minimum 6 character</mat-error>
        </mat-form-field>
        </div>
        <div class="subBtn">
            <button mat-raised-button color="primary" class="signupBtn" [disabled]="signUpForm.invalid">SignUp</button>
        <!-- <button mat-raised-button color="primary" class="loginBtn" [disabled]="signUpForm.invalid">Login</button> -->
         <a class="loginLink" routerLink="/login">Click here to login</a>
        </div>  
    </form>
    
    </mat-card>
</div>
    