table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th.mat-header-cell, td.mat-cell {
    text-align: center;
    padding-right: 1px !important;
}
.editable{
  background-color: whitesmoke;
  height: 47px;
}
.addUser{
    padding: 1em 0em;
}
.addProductIcon{
    display: flex;
    position: relative;
    left: 3%;
    bottom: 4px;
}
.addProduct{
    color: white;
    margin-top: 7px;
}
.addProduct p{
    color: green;
    margin-top: 7px;
}
.mat-mini-fab{
    width: 30px !important;
    height: 30px !important;
    background-color: green !important; 
}
