<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Transform Your Business with the #1 Software for Electronic Systems Integrators</h1>
            <h4>Join thousands of AV, security, and technology professionals who use D-Tools to power their business operations to drive sales and boost profitability.</h4>
            <button mat-raised-button color="warn">Schedule Live Demo</button>
        </div>
        <div class="col-md-6">
            <img class="d-block w-100" src="assets/images/slide1.webp" alt="image">
              </div>
        </div>
    </div>